<html>
	<head>
		<title><%=admin%></title>
	</head>
	<style>
		body{
			padding-top: 50px;
			cursor: normal;
			background: #B2DFDB;
			text-align: center;
			color:green;
			font-family: 'Roboto', sans-serif;
		}
		button{
			cursor: pointer;
			width:90px;
			height: 40px;
			outline: none;
			border:none;
			box-shadow:none;
			background:#004D40;
			color:white;
		}
		button:hover{
			box-shadow: 0px 8px 10px #00493C;
		}	
		a{
			text-decoration: none;
			color:white;
			font-size: 20;
		}
	</style>

	<body>
		<h1>welcome <%=admin%></h1>
		<button type="text"><a href="logout">Logout</a></button>
	</body>
</html>